:root {
    --gridSquareSize: 80px;
    --chess-piece-size: 60px;
}

#board {
    display: grid;
    grid-auto-flow: row;
    column-gap: 2px;
}

.row {
    display: grid;
    height: var(--gridSquareSize);
    grid-template-columns: repeat(8, var(--gridSquareSize));
    column-gap: 0px;
}

.white {
    background-color: rgba(196, 197, 197, 0.384);
}

.black {
    background-color: rgba(56, 55, 55, 0.541);
}

.piece {
    height: var(--gridSquareSize);
    width: var(--gridSquareSize);
}

.chess-piece {
    width: 100%;
    height: 100%;
    font-size: var(--chess-piece-size);
    
    text-align: center;
}